@import url(./style/blocks/Header/header.css);
@import url(./style/blocks/beaty_back-call/beaty_back-call.css);
@import url(./style/blocks/super-chair/super-chair.css);
@import url(./style/blocks/special-proposals/special-proposals.css);
@import url(./style/blocks/bonuses_map-of-shops/bonuses_map-of-shops.css);
@import url(./style/blocks/impuls-logo/impuls-logo.css);
@import url(./style/blocks/recently-viewed/recently-viewed.css);
@import url(./style/blocks/Popular-categories/Popular-categories.css);
@import url(./style/blocks/social-networks/social-networks.css);



* {
    box-sizing: border-box;
}

.wrapper {
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}
