
/* @import "./Header/header.css" */












* {
    box-sizing: border-box;
}

.wrapper {
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}
